node_modules
__generated__

.expo-shared
.expo
.DS_Store
.idea/

dist
build-electron
.next
build
*.tsbuildinfo
yarn-error.log
/packages/app/.env

.yarn
.yarnrc

packages/desktop/public/static/connect
packages/kit/src/public/static/connect
packages/app/src/public/static/connect

.env
webpack.config.preview.json
