<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>117481276073-kh208l1jusgcqcpd52a2vg6juhu8sb4a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117481276073-kh208l1jusgcqcpd52a2vg6juhu8sb4a</string>
	<key>API_KEY</key>
	<string>AIzaSyC9wF_WwHQlb-MStkXr-H_Y9wTA1K8IkQU</string>
	<key>GCM_SENDER_ID</key>
	<string>117481276073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>so.onekey.wallet</string>
	<key>PROJECT_ID</key>
	<string>test-aa6e3</string>
	<key>STORAGE_BUCKET</key>
	<string>test-aa6e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117481276073:ios:8775332190a91df0b5dfb8</string>
</dict>
</plist>