# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof

# Bundle artifacts
*.jsbundle

# link-assets
link-assets-manifest.json
app/src/main/assets/custom/*.chunk.js
app/src/main/assets/custom/*.chunk.js.LICENSE.txt
app/src/main/assets/custom/asset-manifest.json
app/src/main/assets/custom/index.html
app/src/main/assets/custom/web-embed.*
