/* global css works like nextjs */
html {
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  margin: 0;
  overflow-y: auto;
  overscroll-behavior-y: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: scrollbar;
}

html,
body,
#__next,
#app-container {
  width: 100%;
  min-height: 100%;
  -webkit-overflow-scrolling: touch;
  margin: 0px;
  padding: 0px;
}

#__next,
#app-container {
  /* works for extension popup size */
  min-width: 380px;
  min-height: 800px;
  flex: 1;
  display: flex;
  flex-shrink: 0;
  flex-basis: auto;
  flex-direction: column;
  flex-grow: 1;
}
