name: Build Native Android Release CI

on:
  schedule:
    - cron: '32 19 * * 2,4,7' 
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 16.x
          registry-url: 'https://npm.pkg.github.com'
          always-auth: true
          scope: '@onekeyhq'

      - name: Setup Expo
        uses: expo/expo-github-action@v5
        with:
          expo-version: 4.x
          expo-token: ${{ secrets.EXPO_TOKEN }}
          expo-cache: true

      - name: Load .env file
        uses: xom9ikk/dotenv@v1.0.2
        with:
          mode: version

      - name: Modify build.gradle
        uses: OneKeyHQ/onekey-github-actions/build-gradle-edit@main
        with:
          versionCode: ${{ env.BUILD_NUMBER }}
          versionName: ${{ env.VERSION }}
          android_dir: ./packages/app

      - name: Build on EAS
        run: |
          cd packages/app
          npx eas-cli build --profile=production --platform android --non-interactive --no-wait > eas-build.log
          npx eas-cli build --profile=production-store --platform android --non-interactive --no-wait
